<div>
  <p-table #table [columns]="columns" [value]="dataSource" [resizableColumns]="true" styleClass="p-datatable-gridlines"
    [columnResizeMode]="expand">
    <ng-template pTemplate="header" let-columnies>
      <tr>
        <th *ngFor="let col of columnies; index as columnIndex; last as isLast" pResizableColumn>
          <ng-container *ngTemplateOutlet="headerTemplates[columnIndex] context:{$implicit: col}"></ng-container>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let column of columnNames; index as matCellIndex">
          <ng-container *ngTemplateOutlet="templates[matCellIndex] context:{$implicit:rowData}">
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>