<div>
  <p-table #table [columns]="columns" [value]="dataSource">
    <ng-template pTemplate="header" let-columnies>
      <tr>
        <ng-container *ngIf="useSorting">
          <th *ngFor="let col of columnies; index as columnIndex; last as isLast" [pSortableColumn]="col.field">
            <div class="table-header">
              <ng-container *ngTemplateOutlet="headerTemplates[columnIndex] context:{$implicit: col}"></ng-container>
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </div>
          </th>
        </ng-container>
        <ng-container *ngIf="!useSorting">
          <th *ngFor="let col of columnies; index as columnIndex; last as isLast">
            <ng-container *ngTemplateOutlet="headerTemplates[columnIndex] context:{$implicit: col}"></ng-container>
          </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let column of columnNames; index as matCellIndex">
          <ng-container *ngTemplateOutlet="templates[matCellIndex] context:{$implicit:rowData}">
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>